---
import { Icon } from "astro-icon/components";
import { app } from "../utils/icons";
import { IconBackground } from "./IconBackground";
const { pendingInvitesCount } = Astro.locals;
---

<nav
  class="border-border bg-surface fixed bottom-0 left-0 z-50 w-full border-t px-4 pt-4 pb-[calc(1.5rem+env(safe-area-inset-bottom))]"
>
  <div class="container mx-auto flex justify-around">
    <a href="/" class="text-secondary group flex flex-col items-center">
      <IconBackground icon="home" active={Astro.url.pathname === "/"}>
        <Icon name={app.home} class="h-6 w-6" />
      </IconBackground>
      <span class="mt-1 text-xs">Hjem</span>
    </a>
    <a href="/recipes" class="text-secondary group flex flex-col items-center">
      <IconBackground icon="recipes" active={Astro.url.pathname === "/recipes"}>
        <Icon name={app.recipes} class="h-6 w-6" />
      </IconBackground>
      <span class="mt-1 text-xs">Oppskrifter</span>
    </a>
    <a href="/plans" class="text-secondary group flex flex-col items-center">
      <IconBackground icon="plans" active={Astro.url.pathname === "/plans"}>
        <Icon name={app.plans} class="h-6 w-6" />
      </IconBackground>
      <span class="mt-1 text-xs">Menyer</span>
    </a>
    <a href="/shopping" class="text-secondary group flex flex-col items-center">
      <IconBackground
        icon="shopping"
        active={Astro.url.pathname === "/shopping"}
      >
        <Icon name={app.shopping} class="h-6 w-6" />
      </IconBackground>
      <span class="mt-1 text-xs">Handleliste</span>
    </a>
    <a
      href="/settings"
      class="text-secondary group relative flex flex-col items-center"
    >
      <IconBackground
        icon="settings"
        active={Astro.url.pathname === "/settings"}
      >
        <Icon name={app.settings} class="h-6 w-6" />
      </IconBackground>
      {
        pendingInvitesCount > 0 && (
          <span class="ring-surface absolute top-0 right-1 h-2.5 w-2.5 rounded-full bg-red-500 shadow-sm ring-2" />
        )
      }
      <span class="mt-1 text-xs">Innstillinger</span>
    </a>
  </div>
</nav>
